<header>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
  <title>Palindrome Game</title>
</header>
<body>
</body>
