<header>
  <link rel="stylesheet" href="Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
  <title>Palindrome Game</title>
</header>
<body>
  <h1>Check to see if your word is a Palindrome!</h1>
  <form class="form-group" action="/palindrome_result" method="post">
    <p>Your word: <input type="text" name="word-input" class="form-control"></p>
    <button type="submit" name="button" class="btn btn-primary">Find Out!</button>
  </form>
  <h3>@Model</h3>
</body>
